<h1>Groups</h1>

<table class="table table-striped">
  <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Group Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

  <tbody>
    <% @groups.each_with_index do |group, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= group.name %></td>
        <td>
          <%= link_to 'Edit', edit_group_path(group), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path, class: "btn btn-success btn-sm" %>
